$black: #000000;

$dark-blue: #1A2226;
$medium-blue: #1E282C;
$light-blue: #4B646F;
$lighter-blue: #2C3B41;

$grey-dark: #6C6767;
$grey-light: #AEAEAE;
$grey-lighter: #CCCCCC;

$primary: #3C8DBC;
$background: #D2D6DE;
$lighter-background: #ECF0F5;

$items-default: #222D32;
$items-info: #00C0EF;
$items-danger: #DD4B39;
$items-success: #00A65A;
$items-warning: #F39C12;

$white: #FFFFFF;
$medium-text-color: #B8C7CE;
