@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@import 'responsive';
@import 'colors';
@import 'tables';

@import 'pages/error';
@import 'pages/login';

.font-700 {
    font-weight: 700;
}

.truncate {
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.break-word {
    word-wrap: break-word;
}

.system-alert {
    position: fixed;
    top: 70px;
    right: 20px;
    opacity: 0.95;
    z-index: 5000;
}

.pointer {
    cursor: pointer;
}
